@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);

.playerContainer {
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 0;
    background: #111827;
    border-top: 5px solid #426caa;
    padding: 15px;
    width: 100%;
    .albumContainer {
        height: 100%;
        display: flex;
        align-items: center;
        position: relative;
        width: 400px;
        .albumCover {
            margin-right: 15px;
            img {
                max-width: 100px;
                width: 100%;
                height: auto;
            }
        }
        .albumTitle {
            h4 {
                margin: 0 0 10px 0;
                color: #fff;
            }
            label {
                color: #d0d3da;
            }
        }
    }

    .audioContainer {
        width: 100%;
        height: 100%;
        padding: 5px 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .buttonsWrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            justify-content: space-around;
            max-width: 300px;
            width: 100%;

            padding: 0 10px;

            .actionButton {
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                color: #fff;
            }
            .controlButton {
                background-color: #fff;
                color: #111827;
                border-radius: 50%;
                height: 30px;
                width: 30px;
                padding: 10px;
            }
        }
        .player-dragger {
            width: 100%;
            height: 100%;
            padding: 0 20%;
            display: flex;
            align-items: center;
            .current-time {
            }
            .timelapse {
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: 300;
                font-size: 0.7em;
                letter-spacing: 1px;
                width: 50px;
                cursor: default;
                color: rgb(202, 202, 202);
                &:nth-child(1) {
                    -webkit-transform: translateX(-10px);
                    transform: translateX(-10px);
                }
            }
            .timeline-wrapper {
                width: 100%;
                height: 5px;
                border-radius: 50px;
                background-color: #545454;
                position: relative;
            }
            .progress-container {
                background-color: #585d67;
                width: 100%;
                height: 3px;
                border-radius: 3px;
                cursor: pointer;
                .progress {
                    height: 3px;
                }
            }
        }
    }
    .audioControl {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 400px;
        padding: 0 20px;
        height: 100%;
        .volume-container {
            .fa {
                color: #fff;
            }
            display: flex;
        }
        .progress-container {
            height: 3px;

            .progress {
                height: 100%;
            }
        }
        .volume-wrapper {
            width: 50px;
            padding-left: 2px;
            .progress-container {
                height: 2px;
                margin-top: calc(0.8em - 1px);
                background-color: #e5e5e5;

                .progress {
                    height: 2px;
                    background-color: #9b9b9b;
                    cursor: pointer;
                }
            }
        }
    }
}
